-const games = gameData.results

doctype html
html(lang='en')
  head
    title Rendering a static data object with Node.js, Express, and Pug
    style
      include ../stylesheets/style.css
  body
    h1 The Good Games
    div.container
      each game of games
        div
          ul= game.name
          li= game.platforms[0].platform.name